html,
body,
#map{
height:100%;
margin:0;
padding:0;
}

.controls{
position:absolute;
right:15px;
bottom:20px;
z-index:1000;

display:flex;
flex-direction:column;
gap:10px;
}

.controls button{
width:60px;
height:60px;

border:none;
border-radius:14px;

background:white;

font-size:18px;

box-shadow:0 2px 8px rgba(0,0,0,.3);
}

.following{
background:#4da3ff !important;
color:white;
}
